# Packages/installer info
*.egg
*.eggs
*.egg-info
dist
build
.pytest_cache
.DS_Store
.idea
__pycache__/
lstmcpipe/__pycache__/
.coverage

# python
.ipynb_checkpoints/

# vim swap files
*.swp

# lstmcpipe dirs
prod_logs/
_version.py
