name: "Pull Request Docs Check"
on:
- push

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
        . $CONDA/etc/profile.d/conda.sh
        conda config --set always_yes yes --set changeps1 no
        conda env update -n base -f environment.yml
        cd docs
        make html
        cd ..
    - uses: actions/upload-artifact@v1
      with:
        name: DocumentationHTML
        path: docs/_build/html/
    - name: Deploy to gihub pages
      # only run on push to master
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs/_build/html
        CLEAN: true
        SINGLE_COMMIT: true